In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\aivelabs\anaconda3\lib\site-packages (2.9.1)

In [2]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(host="",  # end-point 정보
                        dbname="",  # db 명
                        user="",  # 계정
                        password="",  # 패스워드
                        port=5432)  # 포트

### PostgreSQL 데이터베이스 구조 
- 데이터베이스 > 스키마 > 테이블
- 여러개의 데이터 베이스, 스키마, 테이블 
- 참고자료 : http://www.gurubee.net/lecture/2942

In [3]:
cur = conn.cursor()

query = "SELECT * FROM schema.sample_data LIMIT 100"  # 스키마명.테이블명 
cur.execute(query)

df = pd.DataFrame(cur.fetchall(), columns=[x[0].lower() for x in cur.description])  # description 에서 컬럼명 추출 & 소문자

### 스키마 셀렉트 (search_path)
- 참고자료 : https://stackoverflow.com/questions/34098326/how-to-select-a-schema-in-postgres-when-using-psql

In [5]:
chg_schema = "SET search_path TO schema;"  # SET search_path TO 스키마명
cur.execute(chg_schema)

In [6]:
query = "SELECT * FROM sample_data LIMIT 100"  # 테이블명 
cur.execute(query)

In [7]:
df = pd.DataFrame(cur.fetchall(), columns=[x[0].lower() for x in cur.description])  # description 에서 컬럼명 추출 & 소문자

,entry_id,monthkey,branch,user_id,order_id,order_dow,order_hour_of_day,reordered,product_id,product_name,price,prd_sml_cat_id,prd_sml_cat,prd_mdl_cat_id,prd_mdl_cat
0,2.0,201901.0,강원,25800.0,932473.0,3.0,14.0,1.0,21288.0,Blackberries,56600.0,24.0,fresh fruits,4.0,produce
1,3.0,201901.0,강원,25800.0,932473.0,3.0,14.0,1.0,7862.0,Raw Shrimp,95000.0,34.0,frozen meat seafood,1.0,frozen
2,4.0,201901.0,강원,25900.0,2003271.0,5.0,21.0,0.0,9292.0,Half And Half Ultra Pasteurized,6000.0,84.0,milk,16.0,dairy eggs
3,5.0,201901.0,강원,25900.0,2003271.0,5.0,21.0,0.0,44359.0,Organic Small Bunch Celery,57100.0,83.0,fresh vegetables,4.0,produce
4,6.0,201901.0,강원,25900.0,2003271.0,5.0,21.0,1.0,27336.0,Organic Rainbow Carrots,76200.0,123.0,packaged vegetables fruits,4.0,produce