# 시간 데이터 전처리 예제

In [1]:
import pandas as pd
import itertools

In [2]:
# itertools.cycle 
# 참고자료 1: https://wikidocs.net/108925
# 참고자료 2: https://hckcksrl.medium.com/python-itertools-cycle-module-f53ba30949ed
company_pool = itertools.cycle(["HD", "CJ", "LT", "GS", "ETC"])
cat_pool = itertools.cycle(["생활가전", "여성의류", "남성의류", "건강식품", "유아동", "명품잡화", "대형가전"])
hour_list = pd.date_range(start="2018-12-01", end='2021-12-27', freq="h")

In [3]:
sample_data = [(next(company_pool), next(cat_pool), h) for h in hour_list]

In [4]:
col_nm = ["방송사", "카테고리", "datetime"]
df = pd.DataFrame(sample_data, columns=col_nm)
df.head(5)

   방송사  카테고리            datetime
0   HD  생활가전 2018-12-01 00:00:00
1   CJ  여성의류 2018-12-01 01:00:00
2   LT  남성의류 2018-12-01 02:00:00
3   GS  건강식품 2018-12-01 03:00:00
4  ETC   유아동 2018-12-01 04:00:00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26929 entries, 0 to 26928
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   방송사       26929 non-null  object
 1   카테고리      26929 non-null  object
 2   datetime  26929 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 631.3+ KB

In [6]:
df["hour"] = df["datetime"].dt.hour
df.groupby(["방송사", "hour"]).count().head(5)

          카테고리  datetime
방송사 hour
CJ  0      224       224
    1      225       225
    2      225       225
    3      224       224
    4      224       224

In [7]:
# 참고자료: https://mizykk.tistory.com/13
df_one_hot = pd.get_dummies(df, columns=["hour"])

In [8]:
df_one_hot.to_csv("sample_data.csv", encoding="utf8")