In [1]:
%load_ext lab_black

# Replace contents of dataframe column1. Using For Loop
1. For Loops
2. Using apply()
    - https://www.inflearn.com/course/%ED%95%B5%EC%8B%AC-%EC%9E%85%EB%AC%B8%EC%9E%90-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%ED%8C%90%EB%8B%A4%EC%8A%A4/unit/126065?tab=curriculum
3. Using map()
    - https://www.dacon.io/en/codeshare/586

In [2]:
import pandas as pd

# import jupyter_black
# jupyter_black.load()

## 1. Make Dictionary

In [3]:
df_replace_dict = pd.read_csv("data/replace_dict.csv")
replace_dict = dict(zip(df_replace_dict["src"], df_replace_dict["dst"]))

In [4]:
replace_dict

{'A': 'AA', 'C': 'CC', 'D': 'DD', 'Z': 'ZZ'}

In [5]:
replace_dict

{'A': 'AA', 'C': 'CC', 'D': 'DD', 'Z': 'ZZ'}

## 2. Read Table

In [6]:
df = pd.read_csv("data/replace_table.csv")

In [7]:
df

    id name
0    1    A
1    2    A
2    3    B
3    4    B
4    5    C
5    6    C
6    7    D
7    8    D
8    9    E
9   10    E
10  11    F
11  12    Z

## 3. Replace Table

### 3.1. Replace Table: For loops

In [11]:
"B" in replace_dict

False

In [13]:
replace_dict["A"]

'AA'

In [15]:
new_name = []
for value in df["name"]:
    if value in replace_dict:
        new_name.append(replace_dict[value])
    else:
        new_name.append(value)

In [16]:
new_name

['AA', 'AA', 'B', 'B', 'CC', 'CC', 'DD', 'DD', 'E', 'E', 'F', 'ZZ']

In [17]:
df["new_name_1"] = new_name

In [18]:
df

    id name new_name_1
0    1    A         AA
1    2    A         AA
2    3    B          B
3    4    B          B
4    5    C         CC
5    6    C         CC
6    7    D         DD
7    8    D         DD
8    9    E          E
9   10    E          E
10  11    F          F
11  12    Z         ZZ

### 3.2. Replace Table: Using apply() & lambda

In [ ]:
"A", "109", "무슨시" -> "4", "1"

In [15]:
def replace_name(name):
    if name in replace_dict:
        return replace_dict[name]
    else:
        return name

In [16]:
# 3.2.1
df["name"].apply(replace_name)

0     AA
1     AA
2      B
3      B
4     CC
5     CC
6     DD
7     DD
8      E
9      E
10     F
11    ZZ
Name: name, dtype: object

In [18]:
# 3.2.2
df["name"].apply(lambda xx:replace_name(xx))

0     AA
1     AA
2      B
3      B
4     CC
5     CC
6     DD
7     DD
8      E
9      E
10     F
11    ZZ
Name: name, dtype: object

0     AA
1     AA
2      B
3      B
4     CC
5     CC
6     DD
7     DD
8      E
9      E
10     F
11    ZZ
Name: name, dtype: object

### 3.3. Replace Table: Using map()

In [17]:
df["name"].map(replace_dict)

0      AA
1      AA
2     NaN
3     NaN
4      CC
5      CC
6      DD
7      DD
8     NaN
9     NaN
10    NaN
11     ZZ
Name: name, dtype: object

In [20]:
# object.__missing__(self, key)
# - https://blog.finxter.com/python-__missing__-magic-method/

In [21]:
class My_Dict_Subclass(dict):
    def __missing__(self, key):
        return key

In [22]:
replace_dict = My_Dict_Subclass(replace_dict)

In [23]:
df["name"].map(replace_dict)

0     AA
1     AA
2      B
3      B
4     CC
5     CC
6     DD
7     DD
8      E
9      E
10     F
11    ZZ
Name: name, dtype: object

In [24]:
df["new_name_2"] = df["name"].map(replace_dict)

In [25]:
df

    id name new_name_1 new_name_2
0    1    A         AA         AA
1    2    A         AA         AA
2    3    B          B          B
3    4    B          B          B
4    5    C         CC         CC
5    6    C         CC         CC
6    7    D         DD         DD
7    8    D         DD         DD
8    9    E          E          E
9   10    E          E          E
10  11    F          F          F
11  12    Z         ZZ         ZZ