# Replace contents of dataframe column1. Using For Loop
1. For Loops
2. Using map()
    - https://www.dacon.io/en/codeshare/586

In [2]:
import pandas as pd

## 1. Make Dictionary

In [3]:
df_replace_dict = pd.read_csv("data/replace_dict.csv")
replace_dict = dict(zip(df_replace_dict["src"], df_replace_dict["dst"]))

In [4]:
replace_dict

{'A': 'AA', 'C': 'CC', 'D': 'DD', 'Z': 'ZZ'}

## 2. Read Table

In [5]:
df = pd.read_csv("data/replace_table.csv")

In [6]:
df

    id name
0    1    A
1    2    A
2    3    B
3    4    B
4    5    C
5    6    C
6    7    D
7    8    D
8    9    E
9   10    E
10  11    F
11  12    Z

## 3. Replace Table

### 3.1. Replace Table: For loops

In [7]:
new_name = []
for value in df["name"]:
  if value in replace_dict:
    new_name.append(replace_dict[value])
  else:
    new_name.append(value)

In [8]:
new_name

['AA', 'AA', 'B', 'B', 'CC', 'CC', 'DD', 'DD', 'E', 'E', 'F', 'ZZ']

In [9]:
df["new_name_1"] = new_name

In [10]:
df

    id name new_name_1
0    1    A         AA
1    2    A         AA
2    3    B          B
3    4    B          B
4    5    C         CC
5    6    C         CC
6    7    D         DD
7    8    D         DD
8    9    E          E
9   10    E          E
10  11    F          F
11  12    Z         ZZ

### 3.2. Replace Table: Using map()

In [11]:
df["name"].map(replace_dict)

0      AA
1      AA
2     NaN
3     NaN
4      CC
5      CC
6      DD
7      DD
8     NaN
9     NaN
10    NaN
11     ZZ
Name: name, dtype: object

In [12]:
# object.__missing__(self, key)
#- https://blog.finxter.com/python-__missing__-magic-method/

In [13]:
class My_Dict_Subclass(dict):
  def __missing__(self, key):
    return key

In [14]:
replace_dict = My_Dict_Subclass(replace_dict)

In [15]:
df["name"].map(replace_dict)

0     AA
1     AA
2      B
3      B
4     CC
5     CC
6     DD
7     DD
8      E
9      E
10     F
11    ZZ
Name: name, dtype: object

In [16]:
df["new_name_2"] = df["name"].map(replace_dict)

In [17]:
df

    id name new_name_1 new_name_2
0    1    A         AA         AA
1    2    A         AA         AA
2    3    B          B          B
3    4    B          B          B
4    5    C         CC         CC
5    6    C         CC         CC
6    7    D         DD         DD
7    8    D         DD         DD
8    9    E          E          E
9   10    E          E          E
10  11    F          F          F
11  12    Z         ZZ         ZZ